<header>
	<nav class="left-section">
		<a href="/"><span class="title">{{ site.title }}</span></a>
		<nav>
			<a href="/about" title="About">About</a>&nbsp;&nbsp;<a href="/archive" title="Archive">Archive</a>&nbsp;&nbsp;<a href="/now" title="Now">Now</a>&nbsp;&nbsp;<a href="/feed.xml">RSS</a>&nbsp;&nbsp;<a href="/contact" title="Contact">Contact</a>
		</nav></nav>
		<nav class="right-section">
		<a href="/"><img src="/static/about-pictures/white-dragon.png" class="avatar"></a>
		</nav>	
</header>

