{%- include head-matter.html -%}

{%- include pretty-numbers.html -%}

<main>
	
	{%- include header.html -%}

	<article>
<p>First image captured: {{ first_image[1] }}</p> 

	<h1 class="post-title">{%- if page.nowPage -%}{{ site.categories.now[0].title }}{%- else -%}{{ page.title }}{%- endif -%}</h1>

{%- if page.categories contains "now" -%}
	{%- include now-blurb.html -%}
{%- endif -%}

{%- if page.categories contains "rss-club" -%}
	{%- include rss-plug.html -%}
{%- endif -%}

{{ content }}

<p class="post-author-and-time">
	<time datetime="{{ postDate | date: '%Y-%m-%d' }}">
		{%- unless page.custom-date %}{{ postDate | date: "%B" }} {{prettyDateOfPost}}{{ ordinalEnding }}, {{ postDate | date: "%Y" }}{%- else -%}{{ page.custom-date }}{%- endunless -%}</time>
	</p>
</article>

{%- if page.categories contains "now" -%}
	{%- include now-listing.html -%}
{%- endif -%}

</main>

{%- include footer.html -%}

</body>

</html>
