{%- include head-matter.html -%}

{%- include pretty-numbers.html -%}

<main>
	
	{%- include header.html -%}

	<article>
	<p class="heading-date-line"><time datetime="{{ page.date | date: "%b %d %Y" | upcase }}">{{ page.date | date: "%b %d %Y" | upcase }}</time></p>

	<h1 class="post-title">{%- if page.nowPage -%}{{ site.categories.now[0].title }}{%- else -%}{{ page.title }}{%- endif -%}</h1>

{%- if page.categories contains "now" -%}
	{%- include now-blurb.html -%}
{%- endif -%}

{%- if page.categories contains "rss-club" -%}
	{%- include rss-plug.html -%}
{%- endif -%}

{{ content }}

{% if page.tags %}
  <p>
    {% for tag in page.tags %}
      <a class="bubble-tags" href="/tags/{{ tag | slugify }}/">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}
    {% endfor %}
  </p>
{% endif %}

</article>

{%- if page.categories contains "now" -%}
	{%- include now-listing.html -%}
{%- endif -%}



</main>

{%- include footer.html -%}

</body>

</html>
