{%- include head-matter.html -%}

{%- include pretty-numbers.html -%}

<main>
	
	{%- include header.html -%}

	<article>

	<h1 class="post-title">{%- if page.nowPage -%}{{ site.categories.now[0].title }}{%- else -%}{{ page.title }}{%- endif -%}</h1>
<p class="heading-date-line"><time datetime="{{ post.date | date: "%b %d %Y" | upcase }}">{{ post.date | date: "%b %d %Y" | upcase }}</time></p>
{%- if page.categories contains "now" -%}
	{%- include now-blurb.html -%}
{%- endif -%}

{%- if page.categories contains "rss-club" -%}
	{%- include rss-plug.html -%}
{%- endif -%}

{{ content }}

</article>

{%- if page.categories contains "now" -%}
	{%- include now-listing.html -%}
{%- endif -%}

</main>

{%- include footer.html -%}

</body>

</html>
